body {
    background-color: slategrey;
    padding: 0;
    margin: 0;
    font-family: 'Hind', 'Courier New', Courier, monospace;

}

/*Work experience tabs*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/*Ends work experience*/

#navbar {
    border: 2px red solid;
    display: flex;
    justify-content: end;
    gap: 1em;
    font-size: 1em;
    margin-top: 0;
    padding: 5px;
}

#navbar > * {
    color: aqua;
    list-style: none;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

#main > h1 {
  font-size: clamp(2rem, 8vw, 5rem);
  padding-left: 80px;
}

.circle {
  width: clamp(100px, 20vw, 250px);
  height: clamp(100px, 20vw, 250px);
  border-radius: 2px aqua solid;
  background-color: rgb(128, 80, 17);

  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

#bio {
  background-color: aqua;
  padding: 10px 80px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  max-width: 60ch;
  justify-self: center;
}

h2 {
  justify-self: center;
  font-size: clamp(2rem, 4vw, 3rem);
  margin:  clamp(1rem, 2.5vw, 1.5rem);
}

#projects {
  background-color: bisque;
  padding: 0px 80px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  max-width: 60ch;
  justify-self: center;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

#projects > div {
    display: flex;
    flex-direction: column;
    border: 2px red dashed;
    margin: 1rem;
    padding: 1rem;
}

#projects > div > img {
  justify-self: center;
}

